.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.register-form
{
  
    border: 2px solid #ced4da;
    
}
input{
    border-radius:1.5rem;
}
label{
    padding: 2%;
}
.btn-primary {
    background-color: #52C11F;
    background-image: linear-gradient(0deg, #439e19, #52C11F, #5bd723);
    color: #E6EAEF;
    box-shadow: 0 2px 0 0 #2d6911, 0 1.31em 2em 0 rgba(255, 255, 255, 0) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.4), 0 0 12px 1px rgba(82, 193, 31, 0.5), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
  }
  .btn-primary:hover {
    box-shadow: 0 2px 0 0 #2d6911, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.6), 0 0 10px 1px rgba(82, 193, 31, 0.4), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
  }
  .btn-primary:active {
    background-color: #49ab1b;
    background-image: linear-gradient(180deg, #3f9518, #4baf1c);
    color: #2d6911;
    transition: 0s;
    box-shadow: 0 0px 0 0 #23530d, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 2px 0 rgba(255, 255, 255, 0) inset, 0 1px 4px 0px rgba(0, 0, 0, 0), 0 0 10px 1px rgba(82, 193, 31, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.7) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  }