
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <!---image elfo9---->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="deco()"> déconnexion</button></a>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                                <li>
                                        <a href="/accueil" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Acceuil</a>
                                    </li>
                                    <li>
                                        <a href="/rech" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                                    </li>
                                    <li>
                                        <a href="/msg" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Boit message</a>
                                    </li>
                                    <li>
                                        <a href="/message" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>nouveau message</a>
                                    </li>
                                    <li>
                                        <a href="/insparco" class="waves-effect"><i class="fa fa-globe m-r-10" aria-hidden="true"></i>cree votre cv</a>
                                    </li>
                                    <li>
                                        <a href="/cvutilisateur" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>affiche votre cv</a>
                                    </li>
    
                        </ul>
                    </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
               
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="container register-form">
                    <div class="form">
                            <div class="note">
                                <h1>votre Profile</h1>
                            </div>
                            <br><br><br>
                            <div class="form-content">
                                <div class="row">
                                    <div class="col-md-6">
                                           <div class="form-group">
                                               <label for="nom">Nom</label> <input type="text" class="form-control" id="nom" required [(ngModel)]="user.nom" name="nom">
                                           </div>
                            
                            
                                            <div class="form-group">
                                            <label for="prenom">Prenom</label> <input type="text"
                                             class="form-control" id="prenom" required="required"                                                       
                                            [(ngModel)]="user.prenom" name="prenom">
                                      
                                             </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                             <label for="email">E-mail</label> <input type="text"
                                             class="form-control" id="email" required
                                             [(ngModel)]="user.email" name="email">
                                             </div>
                            
                            
                                             <div class="form-group">
                                             <label for="adresse">adresse :</label> <input type="text"
                                             class="form-control" id="adresse" required
                                              [(ngModel)]="user.adresse" name="adresse">
                                             </div>
                                    </div>
    
                                     <div class="col-md-6">
                                            <div class="form-group">
                                             <label for="proffesion">proffesion</label> <input type="text"
                                             class="form-control" id="proffesion" required
                                          [(ngModel)]="user.proffesion" name="proffesion">
                                           </div>
                             
                                          <div class="form-group">
                                           <label for="tel">tel:</label> <input type="text"
                                          class="form-control" id="tel" required
                                         [(ngModel)]="user.tel" name="tel">
                                          </div>
                                                
                                     </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label for="age">age:</label> <input type="text"
                                      class="form-control" id="age" required
                                       [(ngModel)]="user.age" name="age">
                                      </div>
                                     <div class="form-group">
                                     <label for="mdp">mot de passe:</label> <input type="password"
                                       class="form-control" id="mdp" required
                                       [(ngModel)]="user.mdp" name="mdp">
                                    </div>
                                 </div>
                             <div class="col-md-6">  
                            <div class="form-group">
                            <label for="propos">propos:</label> <input type="text"
                            class="form-control" id="propos" required
                            [(ngModel)]="user.propos" name="propos">
                            </div>
                            <div class="form-group">
                             <button type="submit" class="btn btn-primary" (click)="save()">mise a jour</button>
                             <div class="alert alert-success" role="alert" *ngIf="Success" >
                                    <strong>mise ajour avec succès</strong> 
                             </div>
                             </div>
                             <br/>
                            </div>
                             </div>
                           
                                
                            </div>
                        </div>
            
            
           
            </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
