<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="../../assets/man.png" alt=""/>
            <h1>Inscription</h1>
            <p>bienvenu dans notre site recherche emplois</p>
           
        </div>
        <div class="col-md-9 register-right ">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="c">
                        <div class="page-container">
                        
                        
                        <div class="register-form" >
                        <!----<form (ngSubmit)="onSubmit()">-->
                      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                       <!---- <div class="form-group">
                        <label for="nom">Nom</label> <input type="text"
                        class="form-control" id="nom" required
                        [(ngModel)]="user.nom" name="nom">
                        </div>-->
                        <div class="row">
                         <div class="col-md-6">
                        <div class="form-group">
                       <label for="nom" >Nom</label>
                       
                        <input type="text" class="form-control" name="nom" [(ngModel)]="user.nom" #nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required />
                        <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback" >
                        <div *ngIf="nom.errors.required">le nom est obligatore</div>
                        </div>
                        </div>

                       <!---- <div class="form-group">
                        <label for="prenom">Prenom</label> <input type="text"
                        class="form-control" id="prenom" required="required"                                                       
                        [(ngModel)]="user.prenom" name="prenom">
                        </div>-->

                        <div class="form-group">
                        <label for="prenom">Prenom</label>
                        <input type="text" class="form-control" name="prenom" [(ngModel)]="user.prenom" #prenom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prenom.invalid }" required />
                        <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback" >
                        <div *ngIf="prenom.errors.required">le prenom est obligatoire</div>
                        </div>
                        </div>
                        </div>


                      <!----  <div class="form-group">
                        <label for="email">E-mail</label> <input type="text"
                        class="form-control" id="email" required
                        [(ngModel)]="user.email" name="email">
                        </div>--------->
                        <div class="col-md-6">
                        <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email  />
                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">Email est obligatoire</div>
                                    <div *ngIf="email.errors.email">Email doit etre sous forme:"xyz@"</div>
                                </div>
                        </div>

                       
                      <!---  <div class="form-group">
                            <label for="mdp">mot de passe:</label> <input type="password"
                            class="form-control" id="mdp" required
                            [(ngModel)]="user.mdp" name="mdp">
                            </div>-->
                            <div class="form-group">
                                <label for="mdp">mot de passe:</label>
                                <input type="password" class="form-control" name="mdp" [(ngModel)]="user.mdp" #mdp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mdp.invalid }" required minlength="6" />
                                <div *ngIf="f.submitted && mdp.invalid" class="invalid-feedback">
                                    <div *ngIf="mdp.errors.required">le mot de passe  est obligatoire</div>
                                    <div *ngIf="mdp.errors.minlength">au moins 6 caratere</div>
                                </div>
                            </div>
                        </div>

                        
                        
                       <!-----<div class="form-group">
                        <label for="adresse">adresse :</label> <input type="text"
                        class="form-control" id="email" required
                        [(ngModel)]="user.adresse" name="adresse">
                        </div>--->
                        <div class="col-md-6">
                        <div class="form-group">
                        <label for="adresse">adresse:</label>
                        <input type="text" class="form-control" name="adresse" [(ngModel)]="user.adresse" #adresse="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adresse.invalid }" required />
                        <div *ngIf="f.submitted && adresse.invalid" class="invalid-feedback" >
                        <div *ngIf="adresse.errors.required">l adresse est obligatoire</div>
                        </div>
                        </div>
        
                        
                       <!---<div class="form-group">
                        <label for="proffesion"><i class="fas fa-address-book"></i>proffesion</label> <input type="text"
                        class="form-control" id="proffesion" required
                        [(ngModel)]="user.proffesion" name="proffesion">
                        </div>--> 
                        <div class="form-group">
                            <label for="proffesion">proffesion:</label>
                            <input type="text" class="form-control" name="proffesion" [(ngModel)]="user.proffesion" #proffesion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proffesion.invalid }" required />
                            <div *ngIf="f.submitted && proffesion.invalid" class="invalid-feedback" >
                            <div *ngIf="proffesion.errors.required">l proffesion est obligatoire</div>
                            </div>
                        </div>
                      </div>  
                        <!--- <div class="form-group">
                        <label for="tel">tel:</label> <input type="text"
                        class="form-control" id="tel" required
                        [(ngModel)]="user.tel" name="tel">
                        </div>-->
                        <div class="col-md-6">
                        <div class="form-group">
                            <label for="tel">tel:</label>
                            <input type="number" class="form-control" name="tel" [(ngModel)]="user.tel" #tel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tel.invalid }" required />
                            <div *ngIf="f.submitted && tel.invalid" class="invalid-feedback" >
                            <div *ngIf="tel.errors.required">l tel est obligatoire</div>
                            </div>
                        </div>


                        <!--- <div class="form-group">
                        <label for="age">age:</label> <input type="text"
                        class="form-control" id="age" required
                        [(ngModel)]="user.age" name="age">
                        </div>-->
                        <div class="form-group">
                            <label for="age">age:</label>
                            <input type="number" class="form-control" name="age" [(ngModel)]="user.age" #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" required />
                            <div *ngIf="f.submitted && age.invalid" class="invalid-feedback" >
                            <div *ngIf="age.errors.required">l age est obligatoire</div>
                            </div>
                        </div>
                        </div>
                       <!--- <div class="form-group">
                        <label for="propos">propos:</label> <input type="text"
                        class="form-control" id="propos" required
                        [(ngModel)]="user.propos" name="propos">
                        </div>-->
                        <div class="col-md-6">
                        <div class="form-group">
                            <label for="propos">propos:</label>
                            <input type="textarea" class="form-control" name="propos" [(ngModel)]="user.propos" #propos="ngModel" [ngClass]="{ 'is-invalid': f.submitted && propos.invalid }" required />
                            <div *ngIf="f.submitted && propos.invalid" class="invalid-feedback" >
                            <div *ngIf="propos.errors.required"> obligatoire</div>
                            </div>
                        </div>
                        </div>
                        </div>
                        
                        
                        
                        
                        <div class="btn-group" [hidden]="submitted">
                        <button class="btn btn-primary" (click)="goBack()">Retour</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                        <div class="btn-group" [hidden]="!submitted">
                                <div class="btn-group ">
                                <h4> successfully!</h4>
                                <button class="btn btn-primary" (click)="goBack()">Back</button>
                                </div>
                         </div>  
                      </form>
                        </div>
                        
                       
                        </div>
                            
                      
    </div>

</div>