
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                               
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <!---image elfo9---->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="deco()"> déconnexion</button></a>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                            <li>
                                    <a href="/accueil" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Acceuil</a>
                                </li>
                                <li>
                                    <a href="/rech" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                                </li>
                                <li>
                                    <a href="/msg" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Boit message</a>
                                </li>
                                <li>
                                    <a href="/message" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>nouveau message</a>
                                </li>
                                <li>
                                    <a href="/insparco" class="waves-effect"><i class="fa fa-globe m-r-10" aria-hidden="true"></i>cree votre cv</a>
                                </li>
                                <li>
                                    <a href="/cvutilisateur" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>affiche votre cv</a>
                                </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">cree votre cv </h3>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->


                <div class="container register-form">
                    <div class="form">
                        <div class="note">
                            <h1>cree votre cv</h1>
                        </div>
                        <br><br><br>
                        <div class="form-content">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                                <label for="titre">titre</label> <input type="text"
                                                class="form-control" id="titre" required
                                                [(ngModel)]="cv.titre" name="titre">
                                        </div>
                                        <div class="form-group">
                                                  <label for="domaine">domaine</label> <input type="text"
                                                  class="form-control" id="domaine" required
                                                  [(ngModel)]="cv.domaine" name="domaine">
                                        </div> 
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                                <label for="diplome">diplome</label> <input type="text"
                                                class="form-control" id="diplome" required
                                                [(ngModel)]="cv.diplome" name="diplome">
                                        </div>
                                               
                                                
                                                
                                         <div class="form-group">
                                                <label for="niveau">niveau</label> <input type="text"
                                                class="form-control" id="niveau" required
                                                [(ngModel)]="cv.niveau" name="niveau">
                                        </div>
                                </div>

                                 <div class="col-md-6">
                                        <div class="form-group">
                                                <label for="competence">competence</label> <textarea type="text"
                                                class="form-control" id="diplome" required
                                                [(ngModel)]="cv.competence" name="diplome"></textarea>
                                        </div>
                                            
                                 </div>
 
                            </div>
                            <br><br><br>
                            <button   type="button" (click)="savecv()" class=" btn btnSubmit btn-secondary">Enregistrer</button>
                            &nbsp;
                            &nbsp;
                            
                            <button  class="btn btn-primary" type="button" (click)="updcv()" >mise a jour</button>
                        </div>
                    </div>
                    
             





                    <br><br><br>
                <h3>Formation et scolarité</h3>
                <hr noshade > 
                <table class="table table-striped table-borderless">
                            
                    <div class="form"  *ngFor="let scola of scolarites;let i = index"[class.selected]="scola===scolarite" (click)="onSelectscolarite(scola)">
                        <tr class="col-md-6">
                                    
                                 <td>
                                    <div class="form-group">   
                                    <label>debut</label>
                                    <input [(ngModel)]="scola.debut" class="form-control" type="date" name="{{scola.debut}}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                    <label>periode</label>   
                                    <input [(ngModel)]="scola.periode" class="form-control" type="text" name="{{scola.periode}}"/>
                                    </div>
                                </td>
                        </tr>
                         <tr class="col-md-6">  
                    
                            <td  contenteditable="true">
                                 <div class="form-group">
                                <label>etablissement</label>
                                <input [(ngModel)]="scola.etablissement" class="form-control" type="text"  name="{{scola.etablissement}}"/>
                               </div>
                            </td>
                              
                            <td> 
                               <div class="form-group"> 
                                <label>lieu</label>  
                               <input [(ngModel)]="scola.lieu" class="form-control" type="text" name="{{scola.lieu}}"/>
                             </div>
                            </td>
                        </tr>
                            <tr class="col-md-6">
                              
                                <td >
                                 <div class="form-group">
                                <label >diplome</label>
                                 <input [(ngModel)]="scola.diplome" class="form-control" type="text"  name="{{scola.diplome}}"/>
                                </div>
                                </td> 
                            </tr>

                           <tr class="col-md-6">  
                                
                            <td>
                            <div class="form-group">   
                            <label>description</label>
                            <textarea [(ngModel)]="scola.description" class="form-control" type="text" name="{{scola.description}}"></textarea>
                            <br><br><br>
                            <button class="btn btn-tertiary"  type="button" (click)="deleteFieldValuescolarite(i)"><span class="fa fa-trash-o"></span>Supprimer</button>
                            &nbsp; &nbsp;&nbsp;
                           
                            <button class="btn btn-primary"  type="button" (click)="updscolarite()"><span class="fa fa-pencil"></span>
                                    Modifier</button>
                            </div>
                            </td>
                        </tr>
                          <br>
                          <br>
                    </div>
                    <div class="form">
                            <tr class="col-md-6">     
                                    
                                <td > 
                                    <div class="form-group">   
                                     <label>debut</label>
                                     <input class="form-control" type="date" id="scolaritdebut" [(ngModel)]=" scolarit.debut" name="scolaritdebut" />
                                    </div>
                                </td>
                                    
                                <td> 
                                        <div class="form-group"> 
                                        <label>periode</label>   
                                        <input class="form-control" type="text" id="scolaritperiode" [(ngModel)]=" scolarit.periode" name="scolaritperiode" />
                                        </div>
                                 </td>
                            </tr>    


                            <tr class="col-md-6"> 
                                 <td>
                                    <div class="form-group"> 
                                    <label>etablissement</label>    
                                    <input class="form-control" type="text" id="scolaritetablissement" [(ngModel)]=" scolarit.etablissement" name="scolaritetablissement" />
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="form-group"> 
                                    <label>lieu</label>
                                    <input class="form-control" type="text" id="scolaritlieu" [(ngModel)]=" scolarit.lieu" name="scolaritlieu" />
                                    </div>
                                </td>
                            </tr> 

     
                            <tr class="col-md-6">  
                                
                                <td> 
                                    <div class="form-group"> 
                                    <label>diplome</label>
                                    <input class="form-control" type="text" id="scolaritdiplome" [(ngModel)]=" scolarit.diplome" name="scolaritdiplome" />
                                    </div>
                                </td>
                                
                            </tr>
                               
    
                         
    
                            <tr class="col-md-6">     
                                
                                <td >
                                    <div class="form-group"> 
                                    <label>description</label>
                                    <textarea class="form-control" type="text" id="scolaritdescription" [(ngModel)]=" scolarit.description" name="parcourdescription" ></textarea>
                                </div>
                                <br><br><br>
                                <button class="btn btn-secondary" type="button" (click)="savescolarite()"><span class="fa fa-plus"></span>Ajouter</button>
                            </td>
                              
                            </tr>   
                    </div>
                
            </table>
            <br><br><br>

            <h3>Parcour Professionnel</h3>
            <hr noshade > 
                <!--parcour proff-->
                <table class="table table-striped table-borderless">  
                        <div class="form"  *ngFor="let par of pracourss;let i = index"[class.selected]="par ===pracoure" (click)="onSelect(par)">
                           <tr class="col-md-6">
                                <td contenteditable="true">
                                <div class="form-group"> 
                                 
                                    <label>titre</label>
                                    <input [(ngModel)]="par.titre" class="form-control" type="text" name="{{par.titre}}"/>
                                </div>
                                </td>
                           
                            

                                <td  contenteditable="true">
                                     <div class="form-group"> 
                                    <label>entreprise</label>
                                    <input [(ngModel)]="par.entreprise" class="form-control" type="text"  name="{{par.entreprise}}"/>
                                   </div>
                                </td>
                            </tr>

                             <tr class="col-md-6">
                                
                                    <td>
                                    <div class="form-group"> 
                                    <label>poste</label>
                                     <input [(ngModel)]="par.poste" class="form-control" type="text"  name="{{par.poste}}"/>
                                     </div>
                                    </td>
                                    
                                 <td> 
                                 <div class="form-group"> 
                                 <label>lieu</label>
                                 <input [(ngModel)]="par.lieu" class="form-control" type="text" name="{{par.lieu}}"/>
                                 </div>
                                </td>
                            </tr>
                                
                            
                           <tr class="col-md-6">    
                                <td>
                                 <div class="form-group">   
                                 <label>debut</label>
                                  <input [(ngModel)]="par.debut" class="form-control" type="date" name="{{par.debut}}"/>
                                 </div>
                                </td>  
                                 <td>
                                 <div class="form-group">
                                <label>periode</label>  
                                <input [(ngModel)]="par.periode" class="form-control" type="text" name="{{par.periode}}"/>
                                </div>
                            </td>
                            </tr>
                           
                            <tr class="col-md-6">        
                            <td>
                               <div class="form-group">   
                                   <label>description</label>
                                   <textarea [(ngModel)]="par.description" class="form-control" type="text" name="{{par.description}}" rows="5"></textarea>
                                   <br><br><br>
                                    <button class="btn btn-tertiary"  type="button" (click)="deleteFieldValue(i)"><span class="fa fa-trash-o"></span>Supprimer</button>
                                    &nbsp; &nbsp;&nbsp;
                                    <button class="btn btn-primary"  type="button" (click)="upd()"><i class="fa fa-pencil"></i>
                                    Modifier</button>
                                </div>
                            </td>
                            </tr>
                        <br>
                        <br>
                        </div>
                        <div>
                            <tr class="col-md-6"> 
                                    
                                    <td>
                                        <div class="form-group">
                                        <label>titre</label>
                                        <input class="form-control" type="text" id="parcourtitre" [(ngModel)]="parcour.titre" name="parcourtitre" />
                                        </div>
                                    </td>

                                    
                                    <td> 
                                        <div class="form-group">
                                        <label>entreprise</label>  
                                        <input class="form-control" type="text" id="parcourentreprise" [(ngModel)]="parcour.entreprise" name="parcourentreprise" />
                                    </div>
                                    </td>
                             </tr> 
         
                             <tr class="col-md-6">  
                                    
                                    <td>
                                    <div class="form-group">
                                         <label>poste</label>     
                                        <input class="form-control" type="text" id="parcourposte" [(ngModel)]="parcour.poste" name="parcourposte" />
                                     </div>
                                    </td>
                                    
                                    <td>
                                    <div class="form-group">
                                        <label>lieu</label>
                                        <input class="form-control" type="text" id="parcourlieu" [(ngModel)]="parcour.lieu" name="parcourlieu" />
                                    </div>
                                    </td>
                             </tr>
                                   
        
                             <tr class="col-md-6">     
                                    
                                    <td>
                                    <div class="form-group">
                                         <label>debut</label> 
                                        <input class="form-control" type="date" id="parcourdebut" [(ngModel)]="parcour.debut" name="parcourdebut" />
                                    </div>
                                    </td>
                                    
                                    <td>
                                    <div class="form-group">
                                        <label>periode</label>   
                                        <input class="form-control" type="text" id="parcourperiode" [(ngModel)]="parcour.periode" name="parcourperiode" />
                                    </div>
                                    </td>
                             </tr>    
        
                            <tr class="col-md-6">            
                            <td>
                                 <div class="form-group">
                                    <label>description</label>
                                    <textarea class="form-control" type="text" id="parcourdescription" [(ngModel)]="parcour.description" name="parcourdescription" ></textarea>
                                    <br><br><br>
                                    <button class="btn btn-secondary" type="button" (click)="save()"> <span class="fa fa-plus"></span>
                                                Ajouter</button>
                                 </div>
                            </td>
                                    
                             </tr>   
                            </div>
                    
                </table>
               </div>

                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>