table{
   table-layout: auto;
   width: 100%;  
   border-spacing: 20px;

      resize:both;
      overflow:auto;
      border-collapse: collapse;
      border: 0;
  }​
 
    td, th{
      overflow: hidden;
      white-space: nowrap;
      -moz-text-overflow: ellipsis;        
         -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
             border-collapse:separate; 
             height:100px;
             
             border-spacing: 30px;
    }
     .btn-tertiary {
      background-color: #FF006A;
      background-image: linear-gradient(0deg, #d60059, #FF006A, #ff1a79);
      color: #E6EAEF;
      box-shadow: 0 2px 0 0 #990040, 0 1.31em 2em 0 rgba(255, 255, 255, 0) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.4), 0 0 12px 1px rgba(255, 0, 106, 0.5), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
    }
     .btn-tertiary:hover {
      box-shadow: 0 2px 0 0 #990040, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.6), 0 0 10px 1px rgba(255, 0, 106, 0.4), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
    }
    .btn-tertiary:active {
      background-color: #e6005f;
      background-image: linear-gradient(180deg, #cc0055, #eb0062);
      color: #990040;
      transition: 0s;
      box-shadow: 0 0px 0 0 #800035, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 2px 0 rgba(255, 255, 255, 0) inset, 0 1px 4px 0px rgba(0, 0, 0, 0), 0 0 10px 1px rgba(255, 0, 106, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.7) inset;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    }
    
     .btn-secondary {
      background-color: #0B44EF;
      background-image: linear-gradient(0deg, #0939c8, #0B44EF, #1f54f5);
      color: #E6EAEF;
      box-shadow: 0 2px 0 0 #07288d, 0 1.31em 2em 0 rgba(255, 255, 255, 0) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.4), 0 0 12px 1px rgba(11, 68, 239, 0.5), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
    }
     .btn-secondary:hover {
      box-shadow: 0 2px 0 0 #07288d, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.6), 0 0 10px 1px rgba(11, 68, 239, 0.4), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
    }
    .btn-secondary:active {
      background-color: #0a3dd7;
      background-image: linear-gradient(180deg, #0936be, #0a3edb);
      color: #07288d;
      transition: 0s;
      box-shadow: 0 0px 0 0 #052175, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 2px 0 rgba(255, 255, 255, 0) inset, 0 1px 4px 0px rgba(0, 0, 0, 0), 0 0 10px 1px rgba(11, 68, 239, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.7) inset;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    } 

     .btn-primary {
      background-color: #52C11F;
      background-image: linear-gradient(0deg, #439e19, #52C11F, #5bd723);
      color: #E6EAEF;
      box-shadow: 0 2px 0 0 #2d6911, 0 1.31em 2em 0 rgba(255, 255, 255, 0) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.4), 0 0 12px 1px rgba(82, 193, 31, 0.5), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
    }
    .btn-primary:hover {
      box-shadow: 0 2px 0 0 #2d6911, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 3px 1px rgba(0, 0, 0, 0.6), 0 0 10px 1px rgba(82, 193, 31, 0.4), 0 2px 1px -1px rgba(0, 0, 0, 0) inset;
    }
    .btn-primary:active {
      background-color: #49ab1b;
      background-image: linear-gradient(180deg, #3f9518, #4baf1c);
      color: #2d6911;
      transition: 0s;
      box-shadow: 0 0px 0 0 #23530d, 0 1.31em 1em 0 rgba(255, 255, 255, 0.05) inset, 0 2px 2px 0 rgba(255, 255, 255, 0) inset, 0 1px 4px 0px rgba(0, 0, 0, 0), 0 0 10px 1px rgba(82, 193, 31, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.7) inset;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    }
 
.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.2s; transition-delay: 0.2s;}
.effect-9 ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.2s;}
.effect-9 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.effect-9:focus ~ .focus-border:after{transition-delay: 0.2s;}
.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.effect-9:focus ~ .focus-border i:after{transition-delay: 0.4s;}
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
td {
   width: 25% ;
 }
 .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.register-form
{
  
    border: 1px solid #ced4da;
    
}
input{
    border-radius:1.5rem;
}