<header class="site-navbar py-1" role="banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-xl-2">
        <h1 class="mb-0"><a href="index.html" class="text-black h2 mb-0">Job<strong>start</strong></a></h1>
      </div>
      <div class="col-10 col-xl-10 d-none d-xl-block">
        <nav class="site-navigation text-right" role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a href="/acceuil">acceuil</a></li>
            
            <li>
                <div class="dropdown" *ngIf="!submitted && !sub" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                      connexion
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/authentreprise">entreprise</a>
                      <a class="dropdown-item" href="/auth">candidat</a>
                    </div>
                  </div></li>
            <li >
              <div class="dropdown"   *ngIf="!submitted && !sub">
                <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown">
                  inscripetion
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/inse">entreprise</a>
                  <a class="dropdown-item" href="/ins">candidat</a>
                </div>
                </div>
              </li>
              <li>
                <div *ngIf="submitted">
                  <button class="btn btn-secondary " type="button" >
                    <a href="/rech">profil</a>
                  </button>
                  </div>  
                  <div *ngIf="sub">
                      <button class="btn btn-secondary " type="button" >
                        <a href="/profilentreprise">profil</a>
                      </button>
                      </div>  
              </li>
          </ul>
        </nav>
      </div>
      <div class="col-6 col-xl-2 text-right d-block">
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>
  </div>

</header>
      
      
      
      
    

  
