
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header class="topbar">
                <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-header">
                        
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav mr-auto mt-md-0 ">
                            <!-- This is  -->
                            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                            <li class="nav-item hidden-sm-down">
                                <form class="app-search p-l-20">
                                    <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                                </form>
                            </li>
                        </ul>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <!---image elfo9---->
                        <ul class="navbar-nav my-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off"> déconnexion</button></a>
                            </li>
                           
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- ============================================================== -->
            <!-- End Topbar header -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                            <ul id="sidebarnav">
                                    <li>
                                        <a href="/accueil" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Acceuil</a>
                                    </li>
                                    <li>
                                        <a href="/rech" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                                    </li>
                                    <li>
                                        <a href="/msg" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Boit message</a>
                                    </li>
                                    <li>
                                        <a href="/message" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>nouveau message</a>
                                    </li>
                                    <li>
                                        <a href="/inscv" class="waves-effect"><i class="fa fa-globe m-r-10" aria-hidden="true"></i>ajout cv</a>
                                    </li>
                                    <li>
                                        <a href="/insparco" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>ajout pracours</a>
                                    </li>
                                    <li>
                                        <a href="/affcv" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>affiche cv</a>
                                    </li>
                                </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="row page-titles">
                        <div class="col-md-6 col-8 align-self-center">
                            <h3 class="text-themecolor m-b-0 m-t-0">Ajouter cv</h3>
                        </div>
                        
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <!-- Row -->
                    <div class="container register-form">
                            <div class="form">
                                <div class="note">
                                    <h1>ajouter votre cv</h1>
                                </div>
                          
                                <div class="form-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                        <label for="titre">titre</label> <input type="text"
                                                        class="form-control" id="titre" required
                                                        [(ngModel)]="cvi.titre" name="titre">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="domaine">domaine</label> <input type="text"
                                                          class="form-control" id="domaine" required
                                                          [(ngModel)]="cvi.domaine" name="domaine">
                                                          </div> 
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                        <label for="diplome">diplome</label> <input type="text"
                                                        class="form-control" id="diplome" required
                                                        [(ngModel)]="cvi.diplome" name="diplome">
                                                        </div>
                                                       
                                                        
                                                        
                                                        <div class="form-group">
                                                        <label for="scolarite">scolarite</label> <input type="text"
                                                        class="form-control" id="scolarite" required
                                                        [(ngModel)]="cvi.scolarite" name="scolarite">
                                                        </div>
                                        </div>
                                        
                                    </div>
                                    <button type="button" (click)="save()" class="btnSubmit">Enregistrer</button>
                                    <button type="button" (click)="goBack()" class="btnSubmit">Retour</button>
                                </div>
                            </div>
                            
                     </div>
                    <!-- Row -->
                    <!-- ============================================================== -->
                    <!-- End PAge Content -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer class="footer text-center">
                   
                </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
    