<app-header></app-header>
<div class="site-blocks-cover" style="background-image: url(assets/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row row-custom align-items-center">
        <div class="col-md-10">
          <h1 class="mb-2 text-black w-75"><span class="font-weight-bold">Largest Job</span> Site On The Net</h1>
          <div class="job-search">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                
              </li>
              
            </ul>
            <div class="row justify-content-center">
              <div class="col-md-6 col-sm-12">
                  <input type="text" (input)="onSearchChange($event.target.value)" class="form-control" placeholder="domaine ou lieu....." style="height: 50px">
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  

  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-start text-left mb-5">
        <div class="col-md-9" data-aos="fade">
          <h2 class="font-weight-bold text-black">Recent Jobs</h2>
        </div>
      </div>
      <div >
        <section class="container" style="padding-top: 100px">
          <div class="row justify-content-center">
              <div class="col-md-12">
                  <div class="bouncing-loader" *ngIf="loading && offres?.length != 0">
                      <div>recherche</div>
                      <div>en</div>
                      <div>cour</div>
                  </div>
                  <div *ngFor="let off of offres | offresFilterdomaine"   [class.selected]="off ===offre" (click)="onSelect(off)"  >

                      <div class="row aos-init aos-animate" data-aos="fade">
                          <div class="col-md-12">
                      
                            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                      
                               <div class="mb-4 mb-md-0 mr-5">
                                <div class="job-post-item-header d-flex align-items-center">
                                  <h2 class="mr-3 text-black h4">{{off.titre}}</h2>
                                  <div class="badge-wrap">
                                   <span class="bg-primary text-white badge py-2 px-4">{{ off.date }}</span>
                                  </div>
                                </div>
                                <div class="job-post-item-body d-block d-md-flex">
                                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">{{ off.profil}}</a></div>
                                  <div><span class="fl-bigmug-line-big104"></span> <span> {{ off.position }}</span></div>
                                </div>
                               </div>
                      
                               <div class="ml-auto">
                                 <button class="btn btn-primary py-2" (click)="aff()" >POSTULER</button>
                               </div>
                            </div>
                      
                          </div>
                         </div>


                  </div>
              </div>
              <div class="text-center" *ngIf="offres?.length == 0">
                 
                  <h4 style="padding-top: 50px">Aucune offre trouvée!</h4>
              </div>
          </div>
      </section>
    </div>
  </div>  
</div> 
   