

<div class="container register">
  <div class="row">
      <div class="col-md-3 register-left">
          <img src="../../assets/N/PinClipart.com_handyman-clipart-black-and_589204 (Copier).png" alt=""/>
          <h1>Inscription</h1>
          <p>bienvenu dans notre site recherche emplois</p>
         
      </div>
      <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="c">
                      

<div class="page-container">

<div  class="register-form">
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<div class="row">
        <div class="col-md-6">
<div class="form-group">
    <label for="titre">nom:</label>
    <input type="text" class="form-control" name="titre" [(ngModel)]="entr.titre" #titre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && titre.invalid }" required />
    <div *ngIf="f.submitted && titre.invalid" class="invalid-feedback" >
    <div *ngIf="titre.errors.required">le titre est obligatore</div>
    </div>
</div>

<div class="form-group">
    <label for="description">description</label>
    <input type="textarea" class="form-control" id="description"  #description="ngModel" required [(ngModel)]="entr.description" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" name="description">
    <div *ngIf="f.submitted && description.invalid" class="invalid-feedback" >
    <div *ngIf="description.errors.required">le description est obligatore</div>
    </div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" [(ngModel)]="entr.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email  />
    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
    <div *ngIf="email.errors.required">Email est obligatoire</div>
    <div *ngIf="email.errors.email">Email doit etre sous forme:"xyz@"</div>
    </div>
</div>



<div class="form-group">
    <label for="mdp">mot de passe:</label>
    <input type="password" class="form-control" name="mdp" [(ngModel)]="entr.mdp" #mdp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mdp.invalid }" required  minlength="6" />
    <div *ngIf="f.submitted && mdp.invalid" class="invalid-feedback">
        <div *ngIf="mdp.errors.required">le mot de passe  est obligatoire</div>
        <div *ngIf="mdp.errors.minlength">au moins 6 caratere</div>
    </div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
    <label for="adresse">adresse:</label>
    <input type="text" class="form-control" name="adresse" [(ngModel)]="entr.adresse" #adresse="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adresse.invalid }" required />
    <div *ngIf="f.submitted && adresse.invalid" class="invalid-feedback" >
    <div *ngIf="adresse.errors.required">l adresse est obligatoire</div>
    </div>
</div>


  <div class="form-group">
    <label for="secteur">secteur:</label>
    <input type="text" class="form-control" name="secteur" [(ngModel)]="entr.secteur" #secteur="ngModel" [ngClass]="{ 'is-invalid': f.submitted && secteur.invalid }" required />
    <div *ngIf="f.submitted && secteur.invalid" class="invalid-feedback" >
    <div *ngIf="secteur.errors.required">l secteur est obligatoire</div>
    </div>
</div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <label for="tel">tel:</label>
    <input type="number" class="form-control" name="tel" [(ngModel)]="entr.tel" #tel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tel.invalid }" required />
    <div *ngIf="f.submitted && tel.invalid" class="invalid-feedback" >
    <div *ngIf="tel.errors.required">l tel est obligatoire</div>
    </div>
</div>
</div>
</div>
<div class="btn-group" [hidden]="submitted">
<button class="btn btn-primary" (click)="goBack()">Back</button>
&nbsp; &nbsp;&nbsp;
<button type="submit" class="btn btn-success">Ajouter</button>
</div>
<div [hidden]="!submitted">
        <div class="btn-group ">
        <h4> successfully!</h4>
        <button class="btn btn-primary" (click)="goBack()">Back</button>
</div>
</div>
</form>
</div>


</div>
  
</div>
