<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <!---image elfo9---->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off"> déconnexion</button></a>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a href="/accueil" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Acceuil</a>
                        </li>
                        <li>
                            <a href="/rech" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                        </li>
                        <li>
                            <a href="/msg" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Boit message</a>
                        </li>
                        <li>
                            <a href="/message" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>nouveau message</a>
                        </li>
                        <li>
                            <a href="/inscv" class="waves-effect"><i class="fa fa-globe m-r-10" aria-hidden="true"></i>ajout cv</a>
                        </li>
                        <li>
                            <a href="/insparco" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>ajout pracours</a>
                        </li>
                        <li>
                            <a href="/affcv" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>affiche cv</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Ajouter cv</h3>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="page-container">
                        
                        
                    <div style="width: 300px;">
                    <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                    <label for="titre">titre</label> <input type="text"
                    class="form-control" id="titre" required
                    [(ngModel)]="cv.titre" name="titre">
                    </div>
                    
                    
                    <div class="form-group">
                    <label for="domaine">domaine</label> <input type="text"
                    class="form-control" id="domaine" required="required"                                                       
                    [(ngModel)]="cv.domaine" name="domaine">
                    </div>
                    
                    <div class="form-group">
                    <label for="scolarite">scolarite</label> <input type="text"
                    class="form-control" id="scolarite" required
                    [(ngModel)]="cv.scolarite" name="scolarite">
                    </div>
                    
                    
                    <div class="form-group">
                    <label for="diplome">diplome</label> <input type="text"
                    class="form-control" id="diplome" required
                    [(ngModel)]="cv.diplome" name="diplome">
                    </div>

                    <div class="btn-group">
                    <button type="submit" class="btn btn-success">update</button>
                    </div>
                    </form>
                    </div>
            
                   
                 </div>
                <!-- Column -->
            
                <div class="row">
                    <div class="box col-md-12">
                    <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                      <h2><i class="glyphicon glyphicon-user"></i>votre parcour</h2>
                    
                      <div class="box-icon">
                          <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                          <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                          <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                      </div>
                    </div>
                    <div class="box-content" style="display: block;">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid"><table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row">
                      <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-sort="ascending" aria-label="Username: activate to sort column descending">domaine</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80px;" aria-label="Date registered: activate to sort column ascending">lieu</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 141px;" aria-label="Status: activate to sort column ascending">debut</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">periode</th>
                      
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">titre</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">description</th>
                      
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 321px;" aria-label="Actions: activate to sort column ascending">Actions</th></tr>
                    </thead>
                    
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd" *ngFor="let par of  pracourss" [class.selected]="par ===pracour" (click)="onSelect(par)">
                      <td class="center  ">{{par.domaine}}</td> 
                      <td class=" sorting_1">{{par.lieu}}</td>
                      <td class="center  ">{{par.debut}}</td>
                      <td class="center  ">{{par.periode}}</td>
         
                      <td class="center  ">{{par.titre}}</td>
                      <td class="center  ">{{par.description}}</td>
                      <td class="center  ">
                          <a class="btn btn-danger" (click)="delete()" >
                              <i class="glyphicon glyphicon-trash icon-white" ></i>
                              Delete
                          </a>
                      </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                 
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
               
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
