<div class="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
        <div class="paper-top"><a class="nav-link dropdown-toggle text-muted waves-effect waves-effect" href="/rech" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">retour</a></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" src="../../assets/cv/images/image.jpg" alt="John Smith" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">{{user.nom}} {{user.prenom}} <br />
              <span>{{user.age}} ans,{{user.proffesion}}</span> 
            </h1>
            <ul>
              <li class="ad">{{user.adresse}}</li>
              <li class="mail">{{user.email}}</li>
              <li class="tel">{{user.tel}}</li>
              <li> <span>Domaine: {{cv.domaine}}</span></li>
              <li><span>Diplome:{{cv.diplome}} </span> </li>
              <li><span>Niveau:{{cv.niveau}} </span></li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <div class="social">
            <ul>
              <li><a class='north' href="#" title="Download .pdf"><img src="../../assets/cv/images/icn-save.jpg" alt="Download the pdf version" /></a></li>
              <li><a class='north' href="javascript:window.print()" title="Print"><img src="../../assets/cv/images/icn-print.jpg" alt="" /></a></li>
              <li><a class='north' id="contact" href="contact/index.html" title="Contact Me"><img src="../../assets/cv/images/icn-contact.jpg" alt="" /></a></li>
              <li><a class='north' href="#" title="Follow me on Twitter"><img src="../../assets/cv/images/icn-twitter.jpg" alt="" /></a></li>
              <li><a class='north' href="#" title="My Facebook Profile"><img src="../../assets/cv/images/icn-facebook.jpg" alt="" /></a></li>
               <li> <a class='north' href="/rech">retour</a></li>
            </ul>
          </div>
          <!-- End Social -->
        </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          
          
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2>EDUCATION</h2>
          <div class="content" *ngFor="let scol of scolarites" [class.selected]="scol===scolarite" (click)="onSelectscolarite(scola)">
            <h3>{{scol.debut}}<br/>{{scol.periode}}</h3>
            
            <p>{{scol.titre}}<br>
              {{scol.etablissement}}, {{scol.lieu}}
              <em>{{scol.diplome}}</em></p>
          </div>
          
        </div>
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
          <h2>EXPERIENCE</h2>
          <div class="content" *ngFor="let par of pracourss" [class.selected]="par ===pracoure" (click)="onSelect(par)">
            <h3>{{par.debut}}<br/>{{par.periode}}</h3>
            <p>{{par.titre}}<br/>
              entreprise: {{par.entreprise}},lieu: {{par.lieu}}<br/>
              poste: {{par.poste}}</p>
            <ul class="info">
              <li><p>{{par.description}}</p></li>
              
            </ul>
          </div>
         
        </div>
        <!-- End 3rd Row -->
        <!-- Begin 4th Row -->
        <div class="entry">
          <h2>competence</h2>
         <p>{{cv.competence}}</p>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
        <div class="entry">
    
        </div>
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->