
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar">
          <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
              <!-- ============================================================== -->
              <!-- Logo -->
              <!-- ============================================================== -->
              <div class="navbar-header">
                  
              </div>
              <!-- ============================================================== -->
              <!-- End Logo -->
              <!-- ============================================================== -->
              <div class="navbar-collapse">
                  <!-- ============================================================== -->
                  <!-- toggle and nav items -->
                  <!-- ============================================================== -->
                  <ul class="navbar-nav mr-auto mt-md-0 ">
                      <!-- This is  -->
                      <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                      <li class="nav-item hidden-sm-down">
                          <form class="app-search p-l-20">
                             
                          </form>
                      </li>
                  </ul>
                  <!-- ============================================================== -->
                  <!-- User profile and search -->
                  <!-- ============================================================== -->
                  <!---image elfo9---->
                  <ul class="navbar-nav my-lg-0">
                      <li>
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="deco()"> déconnexion</button></a>
                    </li>   
                  </ul>
              </div>
          </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                      <ul id="sidebarnav">
                              <li>
                                  <a href="/accueil" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Acceuil</a>
                              </li>
                              <li>
                                  <a href="/profilentreprise" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                              </li>
                             
                              <li>
                                  <a href="/insoffre" class="waves-effect"><i class="fa fa-briefcase m-r-10" aria-hidden="true"></i>ajout Offre</a>
                              </li>
                              <li>
                                <a href="/off" class="waves-effect"><i class="fa  fa-archive m-r-10" aria-hidden="true"></i>Mes Offres</a>
                            </li>
                            <li>
                                <a href="/cv" class="waves-effect"><i class="fa fa-search m-r-10" aria-hidden="true"></i>Recherche cv</a>
                            </li>
                            <li>
                                <a href="/msgentreprise" class="waves-effect"><i class="fa fa-envelope m-r-10" aria-hidden="true"></i>Boite message</a>
                            </li>

                              
                          </ul>
              </nav>
              <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">
              <!-- ============================================================== -->
              <!-- Bread crumb and right sidebar toggle -->
              <!-- ============================================================== -->
              
              <!-- ============================================================== -->
              <!-- End Bread crumb and right sidebar toggle -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
              <!-- Start Page Content -->
              <!-- ============================================================== -->
              <!-- Row -->
              
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                       
                    <div class="card"> 
                        <div class="note">
                                <h1>votre Profile</h1>
                        </div>
                        <div class="card-block">
                            <form class="form-horizontal form-material">
                                <div class="form-group"style="margin-right:300px;">
                                    <label class="col-md-12"for="titre">titre</label>
                                    <div class="col-md-12">
                                        <input type="text" name="titre" id="titre"  [(ngModel)]="entreprise.titre" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    
                                    <label class="col-md-12" for="secteur">secteur</label>
                                    <div class="col-md-12">
                                            <input rows="5" name="secteur" id="secteur"  [(ngModel)]="entreprise.secteur" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12"for="email">email</label>
                                    <div class="col-md-12">
                                        <input type="text"  name="email" id="email"   [(ngModel)]="entreprise.email" class="form-control form-control-line">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="col-md-12"for="tel">numero telephone</label>
                                    <div class="col-md-12">
                                        <input type="text" name="tel" id="tel" [(ngModel)]="entreprise.tel" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12"for="adresse">adresse </label>
                                    <div class="col-md-12">
                                        <input type="text"  name="adresse" id="adresse" [(ngModel)]="entreprise.adresse" class="form-control form-control-line">
                                    </div> 
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="description">description </label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="description" id="description"  [(ngModel)]="entreprise.description" class="form-control form-control-line"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <button type="submit" class="btn btn-primary" (click)="save()">mise a jour</button>
                                        <div class="alert alert-success" role="alert" *ngIf="Success" >
                                               <strong>mise ajour avec succès</strong> </div> 
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            
              <!-- Row -->
              <!-- ============================================================== -->
              <!-- End PAge Content -->
              <!-- ============================================================== -->
          </div>
          <!-- ============================================================== -->
          <!-- End Container fluid  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- footer -->
          <!-- ============================================================== -->
         
          <!-- ============================================================== -->
          <!-- End footer -->
          <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
  </div>

