<app-header></app-header>
  <div class="site-section bg-light">
    <div class="container">
      
          <h1 class="font-weight-bold text-black">Detail de l 'offre</h1>
          <ul >
              <li><h4 class="font-weight text-black">titre:</h4><p>{{offre.titre}}</p></li>
              <li></li>
              <li><h4 class="font-weight text-black">secteur:</h4><p>{{offre.secteur}}</p></li>
              <li></li>
              <li><h4 class="font-weight text-black">position:</h4><p>{{offre.position}}</p></li>
              <li></li>
              <li><h4 class="font-weight text-black">description:</h4><p>{{offre.description}}</p></li>
              <li></li>
              <li><h4 class="font-weight text-black">profil:</h4><p>{{offre.profil}}</p></li>
              <li></li>
              <li><h4 class="font-weight text-black">date:</h4><p>{{offre.date}}</p></li>
              <li></li>
              <li><h4 class="font-weight text-black">delay:</h4><p>{{offre.delay}}</p></li>
              <li></li>
              <li><h4 class="font-weight text-black">place:</h4><p>{{offre.place}}</p></li>
              <li></li>
              
          </ul>
            <h3>Postuler:</h3>
            <div [hidden]="affiche" style="width: 300px;">
            <form (ngSubmit)="onSubmit()"> 
                <div class="form-group">
                    <label for="mdp">titre:</label> <input
                    [(ngModel)]="postuler.titre" class="form-control" id="titre" required name="titre">
                    </div>                        
            <div class="form-group">
            <label for="mdp">lettre de motivation:</label> <textarea
            [(ngModel)]="postuler.text" class="form-control" id="text" required name="text"></textarea>
            </div>
                                                                              
             <div class="btn-group">                                     
             <button type="submit" class="btn btn-success">envoyer</button>                                  
             </div>                                        
             </form>                                  
             </div>                       
             <div [hidden]="!submitted || affiche">
                            <div class="btn-group ">
                                <h4>message envoyé avec succès</h4>
                                
                            </div>
                        </div> 
                        <div class="form" [hidden]="!affiche">
                            <ul>
                           <li> <a href="/ins"><h4> cree une compte pour postuler</h4></a></li></ul>
                          </div>                
              </div> 
           
            </div>           
                        
                        
           
        


  
   