
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <!---image elfo9---->
                    <ul class="navbar-nav my-lg-0">
                        <li>
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="deco()"> déconnexion</button></a>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                                <li>
                                    <a href="/accueil" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Acceuil</a>
                                </li>
                                <li>
                                    <a href="/profilentreprise" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                                </li>
                               
                                <li>
                                    <a href="/pageoffre" class="waves-effect"><i class="fa fa-briefcase m-r-10" aria-hidden="true"></i>ajout Offre</a>
                                </li>
                                <li>
                                  <a href="/pageoffre" class="waves-effect"><i class="fa  fa-archive m-r-10" aria-hidden="true"></i>Mes Offres</a>
                              </li>
                              <li>
                                  <a href="/pageoffre" class="waves-effect"><i class="fa fa-search m-r-10" aria-hidden="true"></i>Recherche cv</a>
                              </li>
                              <li>
                                  <a href="/pageoffre" class="waves-effect"><i class="fa fa-envelope m-r-10" aria-hidden="true"></i>Boite message</a>
                              </li>
  
                                
                            </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="box col-md-12">
                    <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                      <h2><i class="glyphicon glyphicon-user"></i>Mes offres</h2>
                    
                      <div class="box-icon">
                          <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                          <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                          <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                      </div>
                    </div>
                    <div class="box-content" style="display: block;">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid"><table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row">
                      <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-sort="ascending" aria-label="Username: activate to sort column descending">titre</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80px;" aria-label="Date registered: activate to sort column ascending">secteur</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 141px;" aria-label="Status: activate to sort column ascending">position</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">description</th>
                      
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">profil</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">date</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">delay</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">place</th>
                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 321px;" aria-label="Actions: activate to sort column ascending">Actions</th></tr>
                    </thead>
                    
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd" *ngFor="let of of  offres" [class.selected]="of ===offre" (click)="onSelect(of)">
                      <td class="center  ">{{of.titre}}</td> 
                      <td class=" sorting_1">{{of.secteur}}</td>
                      <td class="center  ">{{of.position}}</td>
                      <td class="center  ">{{of.description}}</td>
                      <td class="center  ">{{of.profil}}</td>
                      <td class="center  ">{{of.date}}</td>
                      <td class="center  ">{{of.delay}}</td>
                      <td class="center  ">{{of.place}}</td>
                      <td class="center  ">
                          <a class="btn btn-danger" (click)="delete()" >
                              <i class="glyphicon glyphicon-trash icon-white" ></i>
                              Delete
                          </a>
                      </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
  
  