<div class="wrapper">
    <div class="wrapper-top"></div>
    <div class="wrapper-mid">
      <!-- Begin Paper -->
      <div id="paper">
        <div class="paper-top"><a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off" (click)=" goBack()">retour</button></a></div>
        <div id="paper-mid">
          <div class="entry">
            <!-- Begin Image -->
            <img class="portrait" src="../../assets/images.png" alt="aaaa" />
            <!-- End Image -->
            <!-- Begin Personal Information -->
            <div class="self">
              <h1 class="name">{{user.nom}} {{user.prenom}} <br />
                <span>{{user.age}} ans,{{user.proffesion}}</span>
                 <span>Domaine: {{cv.domaine}}</span>
                <span>Diplome:{{cv.diplome}} </span> 
                <span>Niveau:{{cv.niveau}} </span>
              </h1>
              <ul>
                <li class="ad">{{user.adresse}}</li>
                <li class="mail">{{user.email}}</li>
                <li class="tel">{{user.tel}}</li>
               
              </ul>
            </div>
            <!-- End Personal Information -->
            <!-- Begin Social -->
            <div class="social">
             
            </div>
            <!-- End Social -->
          </div>
          <!-- Begin 1st Row -->
          <div class="entry">
            
            
          </div>
          <!-- End 1st Row -->
          <!-- Begin 2nd Row -->
          <div class="entry">
            <h2>EDUCATION</h2>
            <div class="content" *ngFor="let scol of scolarites" [class.selected]="scol===scolarite" (click)="onSelectscolarite(scola)">
              <h3>{{scol.debut}}-{{scol.periode}}</h3>
              
              <p>{{scol.titre}}<br>
                {{scol.etablissement}}, {{scol.lieu}}
                <em>{{scol.diplome}}</em></p>
            </div>
            
          </div>
          <!-- End 2nd Row -->
          <!-- Begin 3rd Row -->
          <div class="entry">
            <h2>EXPERIENCE</h2>
            <div class="content" *ngFor="let par of pracourss" [class.selected]="par ===pracoure" (click)="onSelect(par)">
              <h3>{{par.lieu}} - {{par.periode}}</h3>
              <p>{{par.titre}}<br/>
                entreprise: {{par.entreprise}},lieu: {{par.lieu}}<br/>
                poste: {{par.poste}}</p>
              <ul class="info">
                <p>{{par.description}}</p>
                
              </ul>
            </div>
           
          </div>
          <!-- End 3rd Row -->
          <!-- Begin 4th Row -->
          <div class="entry">
            <h2>competence</h2>
           <p>{{cv.competence}}</p>
          </div>
          <!-- End 4th Row -->
           <!-- Begin 5th Row -->
          <div class="entry">
      
          </div>
          <!-- Begin 5th Row -->
        </div>
        <div class="clear"></div>
        <div class="paper-bottom"></div>
      </div>
      <!-- End Paper -->
    </div>
    <div class="wrapper-bottom">
    </div>
  </div>
  <div id="message"><a href="#top" id="top-link">Go to Top</a></div>
  <!-- End Wrapper -->


    
    














