
<div class="container-contact100" >
   
        <div class="container-contact100">
        
        
        
        <div  style="width: 600px;margin-top: 200px;">
        <form class="contact100-form validate-form">
          <img  class="logo rounded mx-auto d-block" src="../assets/en.png" width="100" height="100" >
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <label for="titre" class="font-weight-bold">Email</label> <input type="email"
        class="form-control " id="email" required
        [(ngModel)]="entr.email" name="email" placeholder="Email">
        
        </div>
        
        <div  class="wrap-input100 validate-input">
        <label for="delai" class="font-weight-bold" >Mot de passe</label> <input type="password"
        class="form-control" id="delai" required
        [(ngModel)]="entr.mdp" name="delai" placeholder="mot de passe">
        
        </div>
        <div class="btn-group">
          <a href="ins">Not a member yet?</a>
          </div>
      <div>
            <div  class="contact100-form-btn-success"  *ngIf="!submitted">
        <button type="submit" class="btn btn-success" (click)="onSubmit()" >Connecter</button>
      
        <div class="alert alert-success" role="alert" *ngIf="Success" >
          <strong> succès !</strong> 
        </div>
            </div>
        <div  *ngIf="submitted"> 
            <button (click)="newEntreprise()"  class="btn btn-danger" >Reconnexion avec un autre identifiant</button>
            <div class="alert alert-danger" role="alert" *ngIf="!Success" >
              <strong>verifier vous donnee!</strong> 
            </div>
        </div>   
      </div>
        </form>
        <div  style="background-image: url('h.jpg');">
        </div>
        </div>
        
        </div>
        
        