<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" (input)="onSearchChange($event.target.value)" class="form-control" placeholder="" style="height: 50px">
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <!---image elfo9---->
                    <ul class="navbar-nav my-lg-0">
                            <li>
                                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-outline-light" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="deco()"> déconnexion</button></a>
                                    </li>
                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                                <li>
                                    <a href="/accueil" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Acceuil</a>
                                </li>
                                <li>
                                    <a href="/profilentreprise" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                                </li>
                               
                                <li>
                                    <a href="/insoffre" class="waves-effect"><i class="fa fa-briefcase m-r-10" aria-hidden="true"></i>ajout Offre</a>
                                </li>
                                <li>
                                  <a href="/off" class="waves-effect"><i class="fa  fa-archive m-r-10" aria-hidden="true"></i>Mes Offres</a>
                              </li>
                              <li>
                                  <a href="/cv" class="waves-effect"><i class="fa fa-search m-r-10" aria-hidden="true"></i>Recherche cv</a>
                              </li>
                              <li>
                                  <a href="/msgentreprise" class="waves-effect"><i class="fa fa-envelope m-r-10" aria-hidden="true"></i>Boite message</a>
                              </li>
  
                                
                            </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                
                  <!-- Column -->
                  <div class="container" style="padding-top: 100px">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="bouncing-loader" *ngIf="loading && cvs?.length != 0">
                                    <div>recherche</div>
                                    <div>en</div>
                                    <div>cour</div>
                                </div>
                                <div *ngFor="let c of cvs | offresFilterlocation"   [class.selected]="c ===cv" (click)="onSelect(c)"  >
              
                                        <div class="row aos-init aos-animate" data-aos="fade">
                                                <div class="col-md-12">
                                            
                                                  <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                                            
                                                     <div class="mb-4 mb-md-0 mr-5">
                                                      <div class="job-post-item-header d-flex align-items-center">
                                                        <h2 class="mr-3 text-black h4">titre: {{ c.titre}}</h2>
                                                        <div class="badge-wrap">
                                                         <span class="bg-primary text-white badge py-2 px-4">domaine: {{c.domaine}}</span>
                                                        </div>
                                                      </div>
                                                      <div class="job-post-item-body d-block d-md-flex">
                                                        <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> diplome: {{ c.diplome }}</div>
                                                        
                                                      </div>
                                                     </div>
                                            
                                                     <div class="ml-auto">
                                                            <button class="btn btn-primary py-2" (click)="aff()" >afficher cv</button>
                                                    </div>
                                                  </div>
                                            
                                                </div>
                                               </div>
              
              
                                </div>
                            </div>
                            <div class="text-center" *ngIf="cvs?.length == 0">
                               
                                <h4 style="padding-top: 50px">Aucune offre trouvée!</h4>
                            </div>
                        </div>
                  </div>
                  <!-- Column -->
              
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
  
  