.container-contact100
{

background-image: url("hh.jpg") ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-family: sans-serif;
}
form.contact100-form{
    
    position: absolute;
    left: 150px;
    top: 150px;
    width: 60%;
	right: 150px;
	min-height: 300px;	
	margin: 0px auto;	
	width: 380px;
    display: block;
    padding: 30px 30px 30px;
    background: rgb(247, 247, 247);
    border-radius: 50px 20px;

    }
    
    .top-content-style {
    padding: 2vw 4vw 4vw;
    background: #1cc7d0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    }
    input{
        border: none;
        border-bottom: 2px solid #1cc7d0;
      }