<header class="site-navbar py-1" role="banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-xl-2">
        <h1 class="mb-0"><a href="index.html" class="text-black h2 mb-0">Espace<strong>Admin</strong></a></h1>
      </div>
      <div class="col-10 col-xl-10 d-none d-xl-block">
        <nav class="site-navigation text-right" role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">connect</a></li>
            <li><a href="new-post.html"><span class="rounded bg-primary py-2 px-3 text-white"><span class="h5 mr-2">+</span>déconnexion</span></a></li>
          </ul>
        </nav>
      </div>
      <div class="col-6 col-xl-2 text-right d-block">
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>
  </div>
  
</header>
<div class="row">
<div class="box col-md-12">
<div class="box-inner">
<div class="box-header well" data-original-title="">
  <h2><i class="glyphicon glyphicon-user"></i> tableau des entreprises</h2>

  <div class="box-icon">
      <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
      <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
  </div>
</div>
<div class="box-content" style="display: block;">
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid"><table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
<thead>
<tr role="row">
  <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-sort="ascending" aria-label="Username: activate to sort column descending">ID</th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80px;" aria-label="Date registered: activate to sort column ascending">titre</th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80px;" aria-label="Role: activate to sort column ascending">secteur</th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 141px;" aria-label="Status: activate to sort column ascending">Mail</th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">Adresse</th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 76px;" aria-label="Status: activate to sort column ascending">Telephone</th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 321px;" aria-label="Actions: activate to sort column ascending">Actions</th></tr>
</thead>

<tbody role="alert" aria-live="polite" aria-relevant="all">
<tr class="odd" *ngFor="let en of  entreprises" [class.selected]="en ===entreprise" (click)="onSelect(en)">
  <td class="center  ">{{en.id}}</td> 
  <td class=" sorting_1">{{en.titre}}</td>
  <td class="center  ">{{en.secteur}}</td>
  <td class="center  ">{{en.email}}</td>
  <td class="center  ">{{en.adresse}}</td>
  <td class="center  ">{{en.tel}}</td>

  <td class="center  ">
      <a class="btn btn-danger" (click)="delete()" >
          <i class="glyphicon glyphicon-trash icon-white" ></i>
          Delete
      </a> 
  </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
